
<header>{The Home Page}</header>
<h1> Welcome to King of The Hill!!!</h1>
<h2> Click the button to begin swiping</h2>
<header>
        <!-- !!! bootstrap styling rules please -->
        <section class="container">
            <nav>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Rank</a>
                    </li>
                    <li class="current">
                        <a href="">Login</a>
                    </li>
                </ul>
            </nav>
        </section>
        {{> loginWithAccount}}
        {{> loginNoAccount}}
    </header>

    <!-- footer -->
    <footer>
        <section class="container">
            <div class="row">
                <div class="col-md-12" id="legal">
                    <p>&copy; 2022 King-OTH</p>
                </div>
            </div>
        </section>
    </footer>