
<h1> Welcome to King of The Hill</h1>
<h2> Sign in to begin</h2>
<header>
    
</header>
    <div class="row"> 
     {{> loginWithAccount}}
     <h1><a href="/views/signup">No Account? Click to sign up!</a></h1>
     </div>

    <!-- footer -->
    <footer>
        <section class="container">
            <div class="row">
                <div class="col-md-12" id="legal">
                    <p>&copy; 2022 King-OTH</p>
                </div>
            </div>
        </section>
    </footer>