<h1> Welcome to King of The Hill</h1>
<h2> Create an account below</h2>
<header>
    
</header>
    <div class="row"> 
     {{> loginNoAccount}}
     </div>

    <!-- footer -->
    <footer>
        <section class="container">
            <div class="row">
                <div class="col-md-12" id="legal">
                    <p>&copy; 2022 King-OTH</p>
                </div>
            </div>
        </section>
    </footer>