<h1 class="justify-content-center"> Rate NFTS!</h1>
<h4> Click the image to save to dashboard and track metrics.</h4>
<h5>OR</h5>
<h4> Hit "Skip" to move ahead.</h4>
<header>
    
</header>
    <div class="row"> 
     </div>
{{> dashboardView}}
    <!-- footer -->
    <footer>
        <section class="container">
            <div class="row">
                <div class="col-md-12" id="legal">
                    <p>&copy; 2022 King-OTH</p>
                </div>
            </div>
        </section>
    </footer>